
@using ProjetoDHZMilhos.Models.Colheita
@model ColheitasModel

<div>

    <h1>Colheita</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Data Colheita</th>
                <th>Plantação ID</th>
                <th>Qualidade</th>
                <th>Quantidade</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var colheita in Model.Colheitas)
            {
                <tr>
                    <td>@colheita.Id</td>
                    <td>@colheita.Data_Colheita.ToString("dd/MM/yyyy")</td>
                    <td>@colheita.Plantacao_Id</td>
                    <td>@colheita.Qualidade</td>
                    <td>@colheita.Quantidade_Colhida</td>
                </tr>
            }
        </tbody>
    </table>

</div>